
.producto {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 30px;
}

.producto .imagen {
    width: 50%;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    padding: 30px;
}

.producto-info {
    width: 40%;
    padding: 30px;
}

.producto-info h3 {
    font-size: 40px;
    font-weight: bold;
}

.producto-info h3.precio {
    font-size: 30px;
    color: #5e5e5e;
    margin: 20px 0;
    font-weight: initial;
}

.descripcion h3 {
    width: 50%;
    padding: 13px;
    font-weight: initial;
    font-size: 22px;
}